body {
  font-family: "Roboto Mono", monospace;
  background: hsl(257, 30%, 32%);
  color: hsl(300, 75%, 61%);
}

#game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.grid-cell {
  border: 2px solid hsl(300, 75%, 61%);
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.grid-cell:nth-child(-n + 3) {
  border-top: none;
}

.grid-cell:nth-child(3n + 1) {
  border-left: none;
}

.grid-cell:nth-child(3n + 3) {
  border-right: none;
}

.grid-cell:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

.grid-cell:not(.disabled):hover {
  background: hsla(300, 69%, 71%, 0.253);
  transition: all 0.15s ease-in;
}

.disabled {
  cursor: not-allowed;
}

.x::after {
  content: "X";
}

.o::after {
  content: "O";
}

.game-over {
  display: none;
  position: absolute;
  top: 82.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over-text {
  position: absolute;
  top: -700px;
  width: 100%;
  font-size: 60px;
  text-align: center;
}

.visible {
  display: block;
}

.restart {
  width: 200px;
  height: 100px;
  font-size: 32px;
  letter-spacing: 4px;
  border: none;
  border-radius: 30px;
  padding: none;
  font-weight: 400;
  background: hsl(300, 75%, 61%);
  color: hsl(257, 30%, 32%);
  transition: all 0.5s ease-in-out;
}

.restart:hover {
  color: hsl(300, 75%, 61%);
  background: hsl(257, 31%, 50%);
}

@media (min-height: 78em) {
  .game-over-text {
    top: -850px;
  }
}

@media (max-height: 53em) {
  .game-over-text {
    top: -500px;
    font-size: 40px;
  }

  .grid-cell {
    border: 2px solid hsl(300, 75%, 61%);
    width: 100px;
    height: 100px;
  }
}
